<h2 class="page-header"><%= current_user.name.capitalize %>'s Dashboard</h2>
<% if @metadata.count > 0%>
  <h3>Previous Crawls</h3>
   <table class="table table-bordered table-striped">
    <tr>
      <th>Crawl Time</th>
      <th>No of records Crawled</th>
      <th colspan="2">URL</th>
    </tr>
    <% @metadata.each do |metadatum| %>
      <tr>
        <td><%= secs_or_minutes metadatum.crawl_time.round(2) %></td>
        <td><%= metadatum.records_crawled %></td>
        <td><%= metadatum.url %></td>
        <td>
          <%= form_tag('/page_scrape/scrape', method: "post") do %>
            <%= text_field_tag('url', "#{metadatum.url}", hidden: true)%>
            <%= submit_tag "Try Again", :class => "btn btn-primary btn-sm" %>
          <%end%><br />
          <%= link_to "Delete", delete_metadatum_path(metadatum),
            class: "btn btn-danger btn-xs glyphicon glyphicon-trash", method: :delete,
            data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <%end%>
    </table>
<%else%>
  <h3>You Do not have any Crawls</h3>
<%end%>


<h3>New Crawl</h3>
<%= form_tag('/page_scrape/scrape', method: "post") do %>
  <%= label_tag(:url, "Enter the Url")%> 
	<%= text_field_tag(:url)%>
	<%= submit_tag "Submit",:class => "btn btn-primary btn-sm"%>
<%end%>