<div class = "pull-right dashboard">
	<%= link_to "Dashboard", root_path %>
	<div>
		<%= form_tag({controller: "page_scrape", action: "download_csv",format: "csv"}, method: "post") do %>
			<%= text_field_tag('url', @url, hidden: true)%>
			<%= submit_tag "Download CSV", :class => "btn btn-primary btn-sm" %>
		<% end %>
	</div>
</div>
<div>
	<%= @category %>
	<table style="width:100%" class="table table-bordered table-striped">
	  <thead>
	 		<tr>
		    <th>Image url</th>
		    <th>Name/Model</th>
		    <th>Original Price</th>
		    <th>Dicounted Price</th>
		    <th>Dicount %</th>
		    <th>EMI/month</th>
		    <th>Color</th>
		    <th>Product Link</th>
			</tr>
	  </thead>
	  <tbody>
			<%# total_time = 0 %>
			<% a = 0 %>
			<% while true %>
				<% begin %>
					<% new_url = @url + "&start=#{a}&ajax=true" %>
					<% start_time = Time.now %>
					<% page = @agent.get(new_url) %>
					<% end_time = Time.now %>
					<% @crawl_time += (end_time - start_time) %>
					<% page.search('.js-tuple').each do |item| %>
				    <% image_url = item.css('.product-image img').attr('src') || item.css('.product-image
				    img').attr('data-src') %>

				    <% link = item.at('.product-tuple-image a') %>

				    <% link_start_time = Time.now%>
				    <% new_page = @agent.click(link) %>
				    <% link_end_time = Time.now %>
				    <% @crawl_time += (link_end_time - link_start_time) %>

				    <tr>
					    <td><%= image_url %></td>
					    <td><%= item.css('.product-title').text %></td>
					    <td><%= not_nil item.css('.strike').text %></td>
					    <td><%= not_nil item.css('.product-price').text %></td>
					    <td><%= not_nil item.css('.product-discount span').text %></td>
					    <td><%= not_nil new_page.css('.emi-price').text %></td>
					    <td><%= new_page.css('.attr-selected .ellipses-cls').text %></td>
					    <td><%= link[:href] %></td>
				    </tr>
						<% a += 1 %>
				  <% end %>
				<% rescue Exception => e %>
					<% break %>
				<%end%>
			<% end %>
		</tbody>
	</table>
</div>

<% @metadatum.update_crawl_time_and_records_crawled(@crawl_time, a)%>