<div class = "pull-right dashboard">
	<%= link_to "Dashboard", root_path %>
	<div>
		<%= form_tag({controller: "page_scrape", action: "download_csv",format: "csv"}, method: "post") do %>
			<%= text_field_tag('url', @url, hidden: true)%>
			<%= submit_tag "Download CSV", :class => "btn btn-primary btn-sm" %>
		<% end %>
	</div>
</div>
<%# total_time = 0 %>
<div>
	<%= @category %>
	<table style="width:100%" class="table table-bordered table-striped">
	  <thead>
	 		<tr>
		    <th>Image</th>
		    <th>Name/Model</th>
		    <th>Original Price</th>
		    <th>Dicounted Price</th>
		    <th>Dicount %</th>
		    <!--
		    <th>EMI/month</th>
		    <th>Color</th>
		    -->
	    </tr>
	  </thead>
	  <tbody>
			<% a = 0 %>
			<% while true %>
				<% begin %>
					<%url = @url + "&start=#{a}&ajax=true"%>
					<% page = @agent.get(url) %>
					<% page.search('.js-tuple').each do |item|%>
				    <% image_url = item.css('.product-image img').attr('src') || item.css('.product-image
				    img').attr('data-src')%>
				    <tr>
					    <td><%= image_url %></td>
					    <td><%= item.css('.product-title').text %></td>
					    <td><%= not_nil item.css('.strike').text %></td>
					    <td><%= not_nil item.css('.product-price').text %></td>
					    <td><%= not_nil item.css('.product-discount span').text %></td>
				    </tr>
				   	<% a += 1 %>
				  <% end %>
				<% rescue Exception => e %>
					<% break %>
				<%end%>
			<% end %> 
		</tbody>
	</table>
</div>

<!-- below line is called to update crwal time by add total time which represent time spent on crwaling each link of item-->
<%# @metadatum.update_crawl_time(total_time)%>